@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

html {
    height: 100%;
}

body {
    background-color: #F4F4F4;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: max(800px, 92%);
    margin: 0 auto;
    padding: max(15px, 1vw);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-flex .w-25 {
    width: 25%;
}

.d-flex .w-50 {
    width: 50%;
}

.d-flex .w-70 {
    width: 70%;
}

.default-button {
    background-color: #FCDB5A;
}

.default-button, .default-button2 {
    cursor: pointer;
    border: max(2px, .1vw) solid #FCDB5A;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: max(12px, 1vw);
    padding: max(10px, 1vw) max(20px, 2vw);
    border-radius: max(15px, 2vw);
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.titles{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: max(25px, 3vw);
    text-transform: uppercase;
    color: #333333;
}

.titles span {
    font-weight: lighter;
}

.cards-wrapper {
    margin: max(20px, 2vw) auto;
    padding: max(10px, 1vw) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-wrapper .card {
    width: 100%;
    margin: 20px 0;
    max-width: max(300px, 33.3%);
    padding: 0 max(10px, 1%);
}

.card .card-content {
    position: relative;
    background-color: white;
    padding: max(10px, 1.5vw);
    border-radius: max(5px, .6vw);
    border: max(1px, .1vw) solid #ccc;
}

.card-content .card-top {
    font-weight: 600;
    font-size: max(14px, .8vw);
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max(70px, 6vw);
    padding: max(5px, .2vw);
    height: max(30px, 1.5vw);
    background-color: #FEF2A4;
    color: #946800;
    border-radius: max(3px, .2vw);
}

header {
    background-color: black;
}

.HF-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max(800px, 92%);
    min-height: 80px;
    margin: 0 auto;
    padding: max(10px, 1vw);
}

.logo {
    width: 25%;
}

.HF-style nav ul {
    display: flex;
    list-style: none;
}

.HF-style ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: max(15px, 1vw);
    font-weight: lighter;
    padding: 0 max(5px, .8vw);
}

.header-options {
    display: flex;
    align-items: center;
}

.header-options .user-options {
    display: flex;
    align-items: center;
}

.header-options .user-options i {
    color: white;
}

.user-options .notifications {
    display: flex;
}

.user-options .notification-box {
    margin-right: max(10px, 1.5vw);
    cursor: pointer;
    position: relative;
}

.user-options .notification-box .icon-wrapper{
    position: relative;
    width: max(35px, 2vw);
}

.user-options .notification-box .toggle-items ul {
    min-width: max(260px, 10vw);
}

.user-options .notifications i {
    font-size: max(25px, 1.5vw);
}

.user-options .notifications span {
    position: absolute;
    top: -40%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: max(10px, .6vw);
    background-color: #FCDB5A;
    height: max(24px, 1vw);
    width: max(24px, 1vw);
    border-radius: 50%;
}

.user-options .user-menu .menu-content{
    display: flex;
    align-items: center;
}

.user-menu .menu-content a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: max(11px, .9vw);
}

.user-menu .menu-content img {
    width: max(32px, 1.7vw);
    height: max(32px, 1.7vw);
    border-radius: 50%;
    margin: 0 max(5px, .3vw);
}

.user-menu .menu-content i {
    cursor: pointer;
    font-size: max(20px, 1vw);
}

.toggle-items {
    position: relative;
}

.toggle-items ul {
    padding: max(8px, .8vw);
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    margin-top: max(10px, 1vw);
    width: 100%;
    background-color: white;
    border-radius: 0 max(5px, .5vw) max(5px, .5vw) max(5px, .5vw);
    box-shadow: max(1px, .1vw) max(1px, .1vw) max(10px, .5vw) rgba(0, 0, 0, 0.4);
}

.toggle-items ul li {
    font-size: max(14px, .8vw);
    padding: max(5px, .3vw);
    margin: max(5px, .3vw) 0;
    border-bottom: max(1px, .1vw) solid #ccc;
    cursor: pointer;
}

.user-menu .toggle-items ul li i {
    color: black;
}

.header-options .enter {
    display: none;
}

.header-options .open-menu {
    display: none;
    color: white;
    font-size: max(25px, 1.5vw);
    padding: 0 max(10px, 1vw);
    cursor: pointer;
}

footer {
    margin-top: auto;
    background-color: #333333;
    padding: max(10px, 1vw);
}

footer p {
    color: white;
    font-size: max(15px, 1vw);
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

.login-screen .default-button {
    font-weight: normal;
}

.login-screen .container {
    max-width: max(1280px, 75vw);
    min-height: 80vh;
    display: flex;
}

.login-screen .data-bg {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: max(20px, 3vw) 0;
}

.registered .data-bg, .forgot-password .data-bg{
    align-items: initial;
}

.registered .access {
    margin: max(20px, 3vw) 0;
}

.login-screen .data-bg .bg {
    border-radius: max(5px, .4vw);
    min-height: max(48vw, 680px);
    background-position: center;
    background-size: cover;
    width: 48%;
}

.login-screen .data-bg .data {
    width: 48%;
}

.login-screen .data-bg .data-title h1 {
    font-family: 'QuickSand';
    color: #253D4E;
    font-size: max(25px, 2.8vw);
    margin-bottom: max(8px, .6vw);
}

.data-bg .data .data-title span, .data-bg .data .data-title p {
    font-size: max(14px, .9vw);
    color: gray;
}

.data-bg .data .data-title a {
    font-size: max(14px, .9vw);
    text-decoration: none;
    color: #46A7DF;
    font-weight: bold;
}

.data-bg form {
    width: 100%;
}

.data-bg .form-row .form-field {
    width: 100%;
}

.data-bg .data .d-flex {
    justify-content: space-between;
    margin-bottom: max(20px, 2vw);
    padding: max(5px, .3vw) 0;
    font-size: max(15px, .8vw);
}

.data-bg .data .d-flex a {
    text-decoration: none;
    font-weight: 600;
    color: gray;
}

.data-bg .data .check-box {
    display: flex;
    align-items: center;
}

.data-bg .data .check-box input{
    cursor: pointer;
    appearance: none;
    width: max(15px, 1vw);
    height: max(15px, 1vw);
    border-radius: max(1px, .1vw);
    border: max(1px, .1vw) solid #ccc;
    margin-right: max(10px, .4vw);
}

.data-bg .data .check-box label {
    cursor: pointer;
}

.data-bg .data .check-box input:checked {
    border: 0;
    background-image: url('../images/checked.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.create-account .agree-terms {
    margin: max(20px, 2vw) 0;
    font-size: max(15px, 1vw);
}

.create-account .agree-terms label {
    color: gray;
}

.create-account .agree-terms a{
    display: inline-block;
    margin-left: max(10px, .5vw);
}

.login-screen .fgt-pass-img {
    margin: max(20px, 2vw) 0;
}

.login-screen .fgt-pass-img img {
    width: max(70px, 5vw);
    height: max(70px, 5vw);
}

.home-bg {
    min-height: calc(35vw + 5vh);
    padding: max(10px, 1vw);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-content {
    padding: 10px;
    max-width: max(600px, 50%);
    position: relative;
}

.bg-content h1{
    color: white;
    font-size: max(25px, 3.6vw);
    text-transform: uppercase;
}

.bg-content p {
    font-size: max(15px, 1.1vw);
    margin-bottom: max(20px, 2vw);
    line-height: 1.5;
}

.bg-content .button-wrapper {
    text-align: center;
}

.bg-content a {
    font-size: max(16px, 1.2vw);
    display: inline-block;
    text-decoration: none;
    color: white;
    border: max(2px, .1vw) solid #FCDB5A;
    padding: max(15px, 1.5vw) max(20px, 3vw);
    border-radius: max(20px, 2vw);
}

.lines-wrapper{
    position: relative;
    margin-bottom: 6vw;
}

.vertical-lines {
    position: absolute;
    height: max(50px, 10vw);
    left: 50%;
    top: -6vw;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
}

.vertical-lines .line {
    border-radius: max(10px, 1vw);
    width: max(3px, .3vw);
    height: 70%;
    background-color: #FCDB5A;
    margin: 0 max(2px, .2vw);
}

.vertical-lines .line1 {
    margin-top: max(10px, 1vw);
}

.vertical-lines .line2 {
    height: 100%;
}

.products-offered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-offered .text-content {
    text-align: center;
    padding: 10px;
}

.products-offered .text-content h2 {
    margin-bottom: max(10px, 1vw);
}

.products-offered .text-content p {
    color: #b3b3b3;
    margin-bottom: max(5px, .5vw);
    font-size: max(16px, 1vw);
}

.products-offered .text-content a {
    color: #b3b3b3;
    font-weight: 600;
}

.products-offered .images-content {
    padding: 10px 20px;
    margin: max(20px, 2vw) 0;
    width: 100%;
    max-width: max(500px, 30%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images-content .product-single {
    text-align: center;
}

.images-content .product-single img {
    width: 100%;
    min-width: 3vw;
}

.images-content .product-single p {
    margin-top: max(10px, 1vw);
    font-size: max(14px, .8vw);
}

.select-product {
    background-color: #333333;
    width: 100%;
    padding: max(10px, 1vw);
}

.select-product form {
    max-width: max(600px, 40%);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.select-product form .form-field {
    display: flex;
    flex-direction: column;
    padding: max(10px, 1vw);
    width: 50%;
}

.select-product form .form-field label {
    color: white;
    font-size: max(16px, 1vw);
    margin: max(10px, .8vw) 0;
}

.select-product form .form-field select {
    width: 100%;
    padding: max(10px, .5vw);
    font-size: max(14px, .8vw);
    border-radius: max(3px, .3vw);
}

section.agro {
    padding: max(10px, 2%);
    background-color: white;
}

.agro .about-us {
    margin: max(20px, 2vw) 0;
    background-image: url('../images/agro.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.agro .about-us .title-img {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.about-us .title-img h2 {
    margin-bottom: max(20px, 4vw);
}

.about-us .base-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max(100px, 20vw);
    width: 25%;
}

.about-us .base-img .base {
    background-color: white;
    border: max(5px, .4vw) solid #FCDB5A;
    width: 80%;
    height: 100%;
    position: absolute;
}

.about-us .base-img img {
    position: relative;
    width: 100%;
}

.agro .about-us .text {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.agro .about-us .text p {
    font-size: max(14px, 1vw);
    line-height: 1.8;
}

.agro .prices-box {
    max-width: max(600px, 55%);
    margin: 0 auto;
}

.agro .prices-box h2 {
    text-align: center;
    margin: max(10px, 1vw) 0;
}

.agro .prices-box .investing-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.agro .investing-box .box-single {
    width: 48%;
    margin: max(10px, 1vw) 0;
}

.agro .investing-box .box-single img{
    width: 100%;
}

.agro .prices-box a {
    margin: max(10px, 1vw) 0;
}
.agro .disclosure-box {
    margin: max(10px, 1.5vw) 0;
}
.agro .disclosure-img {
    max-width: max(600px, 40vw);
    margin: max(15px, 1.5vw) auto;
}

.agro .disclosure-box img {
    width: 100%;
}

section.how-its-work {
    padding: max(30px, 3%);
    background-color: #FCDB5A;
}

.how-its-work h2 {
    text-align: center;
    margin-bottom: max(20px, 2vw);
}

.how-its-work img {
    width: 100%;
}

.how-its-work .workflow {
    display: none;
    position: relative;
    text-align: center;
    max-width: max(600px, 50%);
    margin: 0 auto;
}

.how-its-work .workflow .work-box {
    padding: 0 10%;
}

.how-its-work .workflow span {
    font-size: max(14px, .8vw);
    background-color: white;
    height: max(32px, .4vw);
    width: max(32px, .4vw);
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-its-work .workflow p {
    font-size: max(14px, .8vw);
    font-weight: 600;
    line-height: 1.5;
}

.workflow .arrows{
    position: absolute;
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: space-between;
}

.workflow .arrows i{
    color: white;
    cursor: pointer;
    font-size: max(20px, 1.5vw);
}

section.come-with-us {
    padding: 0 10px;
    margin: max(20px, 4vw) 0;
    text-align: center;
}

section.come-with-us p {
    margin-top: max(10px, 1vw);
    color: gray;
    font-size: max(15px, 1vw);
}

.come-with-us .chose-path {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chose-path .path-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: max(20px, 2vw);
}

.chose-path .path-box img {
    width: max(80px, 5vw);
    margin-bottom: max(15px, 1vw);
}

.page-init {
    margin-bottom: max(10px, 1vw);
}

.page-init h1 {
    color: #253D4E;
    font-size: max(25px, 2.8vw);
    font-family: 'Quicksand', sans-serif;
    margin-bottom: max(10px, 1vw);
    margin-right: max(10px, 1vw);
}

.page-init p {
    font-size: max(15px, 1vw);
    color: gray;
}

.page-init span {
    font-size: max(13px, .8vw);
}

.page-init .d-flex {
    align-items: center;
    flex-wrap: wrap;
}

section.ads {
    margin: max(20px, 2vw) 0;
}

.ads .text-center {
    text-align: center;
    padding: 0 10px;
    margin-bottom: max(20px, 2.5vw);
}

.ads .text-center p {
    font-size: max(15px, 1vw);
    color: #333333;
}

.ads .text-center a {
    font-weight: 600;
    color: black;
}

.ads .product-list {
    margin-top: max(10px, 1.5vw);
}

.ads .product-list h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: max(20px, 2vw);
    color: #253D4E;
    margin-bottom: max(10px, 1vw);
}

.product-list .not-found p{
    font-size: max(15px, 1vw);
}

.product-list .card-top {
    top: -3%;
    font-family: 'Quicksand', sans-serif;
}

.product-list .have-bids{
    background-color: #CCEBD7;
    color: #18794E;
}

.product-list .card-img img {
    width: 100%;
}

.product-list .rating {
    margin: max(10px, 1vw) 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-list .rating span {
    color: gray;
    font-size: max(15px, 1vw);
}

.stars {
    margin: 0 max(10px, .8vw);
    color: gray;
}

.stars i {
    font-size: max(13px, .8vw);
}

.stars .colorful {
    color: #ffd700;
}

.product-list .product-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-list .product-info h4 {
    color: #253D4E;
    font-family: 'Quicksand', sans-serif;
    font-size: max(16px, 1.2vw);
}

.product-list p, .product-list h5 {
    font-size: max(14px, .9vw);
    margin: max(5px, .2vw) 0;
    color: gray;
}

.product-list .product-info .red p, .product-list .product-info .red h5{
    color: red;
}

.product-list .value {
    display: flex;
    justify-content: space-between;
    margin-top: max(15px, 1.2vw);
}

.product-list .value span {
    font-size: max(18px, 1.5vw);
    font-family: 'Quicksand', sans-serif;
    color: #3BB77E;
}

.product-list .value .card-buttons a {
    text-decoration: none;
}

.product-list .value .card-buttons img {
    width: max(100px, 10vw);
    max-width: 100%;
}

section.ad-details {
    background-color: white;
}

.ad-details .details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.details .product-details {
    width: 70%;
}

.details .auction-details {
    width: 25%;
}

.product-details .product-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-details .product-wrapper .product-images {
    width: 48%;
    padding-bottom: max(10px, 1vw);
}

.product-wrapper .product-images img {
    width: 100%;
    border-radius: max(3px, .3vw);
}

.product-wrapper .product-images .double-img {
    margin: max(10px, 1vw) 0;
    display: flex;
    justify-content: space-between;
}

.product-images .double-img .img-wrapper {
    width: 49%;
}

.product-details .product-wrapper .product-info {
    width: 48%;
}

.product-wrapper .product-info .text {
    padding: max(10px, 1vw);
}

.product-wrapper .product-info h3 {
    font-family: 'Quicksand', sans-serif;
    color: #253D4E;
    font-size: max(20px, 2vw);
}

.product-wrapper .product-info p {
    font-size: max(16px, 1vw);
    color: gray;
    margin: max(5px, .5vw) 0;
}

.product-wrapper .product-info b {
    font-weight: 600;
}

.product-wrapper .product-info .value {
    margin: max(20px, 2vw) 0;
}

.product-wrapper .product-info span {
    font-family: 'Quicksand', sans-serif;
    color: #3BB77E;
    font-size: max(18px, 1.4vw);
}

.product-info .bid-box {
    background-color: #F4F4F4;
    padding: max(10px, 1vw) max(10px, 2vw);
    border-radius: max(2px, .2vw);
}

.product-info .bid-box form{
    width: 100%;
    text-align: center;
}

.product-info .bid-box .form-field {
    margin: max(10px, 1vw) 0;
}

.product-info .bid-box .form-field input {
    width: 100%;
    text-align: center;
    padding: max(10px, 1vw);
    border-radius: max(5px, .3vw);
    border: max(1px, .1vw) solid #ccc;
    font-size: max(15px, 1vw);
}

.product-info .bid-box .default-button {
    font-weight: 600;
}

.product-details .more-info {
    margin: max(15px, 1vw) 0;
    color: gray;
}

.product-details .more-info h5 {
    font-weight: 600;
    font-size: max(16px, 1.2vw);
    margin-bottom: max(15px, 1.2vw);
}

.product-details .more-info p {
    font-size: max(15px, 1vw);
    line-height: 1.4;
}

.details .auction-details .seller-info {
    padding: max(10px, 1vw);
    border: max(2px, .1vw) solid #F4F4F4;
    border-radius: max(8px, .5vw);
}

.auction-details .seller-info p {
    font-size: max(16px, 1.2vw);
    color: gray;
}

.auction-details .seller-info .seller-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: max(10px, 1vw) 0;
}

.seller-info .seller-data img {
    width: max(62px, 5.5vw);
    height: max(62px, 5.5vw);
    border-radius: 50%;
}

.seller-info .seller-data .name-rating {
    margin-left: max(10px, 1vw);
}

.seller-info .seller-data .name-rating span {
    font-size: max(14px, .8vw);
    color: gray;
}

.seller-info .seller-data .name-rating .d-flex {
    align-items: center;
}

.seller-info .seller-data .name-rating .stars {
    margin: 0;
    margin-right: max(5px, .5vw);
}

.seller-info .button-wrapper a {
    text-decoration: none;
    font-size: max(15px, 1vw);
    font-weight: 600;
    padding: max(8px, .8vw) max(10px, 1vw);
    border: max(1px, .1vw) solid #2c2c2c;
    border-radius: max(3px, .3vw);
    background-color: #F4F4F4;
    color: #2c2c2c;
}

.auction-details .time-remaining {
    margin: max(15px, 1vw) 0;
    text-align: center;
}

.auction-details .box-highlight {
    text-align: center;
    display: block;
    font-size: max(14px, .8vw);
    font-weight: bold;
    max-width: max(200px, 50%);
    border-radius: max(5px, .3vw);
    margin: max(10px, 1vw) auto;
    padding: max(5px, .3vw);
}

.auction-details .time-remaining .box-highlight {
    background-color: #FFD2D2;
    color: #9E0000;
}

.auction-details .time-remaining .timer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.auction-details .time-remaining .timer p, .auction-details .time-remaining .timer span {
    font-size: max(15px, 1vw);
    font-weight: bold;
    color: gray;
    margin: 0 max(5px, .6vw);
}

.auction-details .time-remaining .timer span {
    font-weight: 600;
    text-transform: uppercase;
}

.auction-details .bids-received {
    margin: max(15px, 1vw) 0;
    padding: 0 max(10px, 1vw);
}

.auction-details .bids-received .box-highlight {
    background-color: #CCEBD7;
    color: #18794E;
}

.auction-details .bids-received .bid-details {
    color: gray;
    display: flex;
    justify-content: space-between;
    border-bottom: max(1px, .1vw) solid #ccc;
    padding: max(5px, .5vw) 0;
}

.bids-received .bid-details p {
    font-size: max(15px, .8vw);
    font-weight: 600;
}

.bids-received .bid-details span {
    font-size: max(15px, .8vw);
}

.bids-received .bid-details .value {
    font-size: max(17px, 1vw);
}

section.packs {
    margin: max(20px, 2vw) 0;
}

.packs .page-init {
    text-align: center;
}

.packs .cards-wrapper {
    max-width: max(1280px, 75vw);
}

.packs .card-content .card-img {
    margin: max(20px, 1.5vw) 0;
    text-align: center;
}

.packs .card-content .card-img img {
    width: max(60px, 4.3vw);
    height: max(40px, 3.2vw)
}

.packs .card .card-content p {
    font-size: max(15px, 1vw);
    font-weight: 600;
    color: #253D4E;
    margin-bottom: max(12px, 1vw);
}

.packs .card-content .text-center {
    margin: max(20px, 2vw) 0;
    text-align: center;
}

.packs .card-content .text-center h5 {
    font-size: max(25px, 2vw);
    color: #3BB77E;
    font-family: 'Quicksand', sans-serif;
}

.packs .card-content .text-center span {
    font-size: max(14px, 1vw);
    color: gray;
}

.packs .card-content a {
    font-weight: 600;
}

section.faq {
    max-width: max(720px, 60vw);
    margin: max(30px, 3vw) auto;
}

.faq .page-init {
    text-align: center;
}

.faq .question-box {
    background-color: white;
    padding: max(10px, 1.5vw);
    margin: max(10px, 1vw) 0;
}

.faq .question-box .question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.faq .question-box .answer-box {
    margin-top: max(15px, 1vw);
    display: none;
}

.faq .question-box h4 {
    font-size: max(16px, 1vw);
}

.faq .question-box i {
    font-size: max(18px, 1.2vw);
    cursor: pointer;
}

.faq .question-box p {
    font-size: max(15px, .8vw);
    line-height: 1.6;
}

section.contact {
    margin: max(20px, 2vw);
    background-image: url('../images/contact-bg.svg');
    background-repeat: no-repeat;
    background-position: 20% 120%;
    background-size: 40% 90%;
    display: flex;
    justify-content: flex-end;
}

.contact h1 {
    font-size: max(25px, 3vw);
}

.contact .form-wrapper {
    width: 100%;
    max-width: max(650px, 40vw);
}

.form-row {
    margin: max(10px, 2vw) 0;
}

.contact .form-row .form-field {
    width: 90%;
}

.form-row .form-field label {
    font-weight: 600;
    font-size: max(15px, 1vw);
    display: block;
}

.form-row .form-field input,
.form-row .form-field textarea,
.form-row .form-field select {
    font-size: max(15px, 1vw);
    width: 100%;
    padding: max(12px, 1.2vw);
    margin: max(5px, .3vw) 0;
    border-radius: max(6px, .5vw);
    border: max(1px, .1vw) solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-row .form-field textarea {
    min-height: max(180px, 8vw);
    resize: none;
}

/* DASHBOARD */

.dashboard-buttons {
    margin: max(10px, 1.5vw) 0;
}

.dashboard-buttons ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-buttons ul li {
    margin:0 max(5px, .5vw);
    margin-bottom: max(10px, .5vw);
}

.dashboard-buttons ul .selected {
    color: black;
    font-weight: 700;
    background-color: #FCDB5A;
    border: 0;
}

.dashboard-buttons ul a {
    font-size: max(16px, 1vw);
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: gray;
    padding: max(15px, 1vw);
    background-color: white;
    border: max(1px, .1vw) solid #ccc;
    border-radius: max(10px, 1vw);
}

.dashboard-buttons ul a i {
    font-size: max(20px, 1.2vw);
    margin-right: max(5px, .3vw);
}

.panel .panel-cards {
    margin: max(20px, 1.5vw) 0;
    display: flex;
    flex-wrap: wrap;
}

.panel .panel-card {
    width: 100%;
    max-width: max(250px, 32%);
    margin: 15px auto;
    text-decoration: none;
    padding: max(15px, 1vw);
    padding-bottom: 0;
    background-color: white;
    border-radius: max(10px, 1vw);
}

.panel .panel-card .card-content {
    padding-bottom: max(30px, 1vw);
}

.panel-card .card-content .d-flex{
    justify-content: space-between;
    align-items: center;
    margin: max(15px, 1vw) 0;
}

.panel-card .card-content span {
    font-size: max(20px, 2.5vw);
    font-weight: bold;
}

.panel-card .card-content i {
    font-size: max(16px, 1.8vw);
    padding: max(10px, 1vw);
    border-radius: max(5px, .5vw);
}

.panel-card .card-content p {
    font-size: max(18px, 1vw);
}

.green-card .card-content {
    border-bottom: max(2px, .2vw) solid #2bc155;
}

.green-card .card-content .d-flex{
    color: #2bc155;
}

.green-card .card-content .d-flex i {
    background-color: rgba(43, 193, 86, 0.1);
}

.cyan-card .card-content {
    border-bottom: max(2px, .2vw) solid #12A594;
}

.cyan-card .card-content .d-flex{
    color: #12A594;
}

.cyan-card .card-content .d-flex i {
    background-color: rgba(18, 165, 148, 0.1);
}

.blue-card .card-content {
    border-bottom: max(2px, .2vw) solid #3f9ae0;
}

.blue-card .card-content .d-flex{
    color: #3f9ae0;
}

.blue-card .card-content .d-flex i {
    background-color: rgba(63, 154, 224, 0.1);
}

.darkblue-card .card-content {
    border-bottom: max(2px, .2vw) solid #0000ff;
}

.darkblue-card .card-content .d-flex{
    color: #0000ff;
}

.darkblue-card .card-content .d-flex i {
    background-color: rgba(0, 0, 255, 0.1);
}

.orange-card .card-content {
    border-bottom: max(2px, .2vw) solid #ff9b52;
}

.orange-card .card-content .d-flex{
    color: #ff9b52;
}

.orange-card .card-content .d-flex i {
    background-color: rgba(255, 154, 82, 0.1);
}

.panel .ads-list h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: max(25px, 2vw);
    color: #253D4E;
    margin-bottom: max(15px, 1.5vw);
}

.ads-list ul li {
    margin: max(15px, 1.2vw) 0;
}

.ads-list .item-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: max(15px, 1.5vw);
    border-radius: max(10px, 1vw);
    background-color: white;
}

.ads-list .item-box .d-flex {
    display: flex;
    align-items: center;
}

.ads-list .item-box .item-details img{
    width: max(80px, 7vw);
    height: max(80px, 7vw);
    border-radius: max(5px, .3vw);
}

.ads-list .item-box .item-details h5 {
    font-size: max(25px, 1.5vw);
}

.ads-list .item-box .text-content {
    margin: max(10px, 1vw);
}

.ads-list .item-box  p {
    font-size: max(16px, 1vw);
    margin-top: max(10px, 1vw);
    color: gray;
}

.ads-list .item-box .last-bid img {
    width: max(50px, 4vw);
    height: max(50px, 4vw);
}

.ads-list .item-box span {
    font-size: max(20px, 1.3vw);
    font-weight: 600;
}

.ads-list .admin-buttons {
    max-width: max(280px, 20%);
    text-align: center;
}

.dash-table {
    overflow: auto;
}

.dash-table table {
    margin: max(20px, 2vw) 0;
    width: max(800px, 100%);
    border-collapse: collapse;
}

.dash-table table thead {
    background-color: #ededed;
    color: gray;
}

.dash-table table td {
    padding: max(10px, 1vw);
    font-size: max(15px, 1vw);
}

.dash-table table tbody td {
    border-bottom: max(1px, .1vw) solid #ccc;
    height: max(80px, 5vw);
}

.dash-table .approved {
    color: #67A98A;
}

.dash-table .canceled {
    color: #DD7965;
}

.dash-table .user-details img {
    width: max(80px, 5.3vw);
    height: max(80px, 5.3vw);
    border-radius: 50%;
}

.dash-table .user-details .name-rating {
    margin-left: max(10px, 1vw);
}

.dash-table .user-details .stars {
    margin: 0;
    margin-right: max(10px, 1vw);
}

.dash-table .user-details .d-flex {
    align-items: center;
}

.dash-table .actions .d-flex {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-table .delete-item {
    cursor: pointer;
}

.dash-buttons {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    border: max(1px, .1vw) solid black;
    color: black;
    border-radius: max(5px, .5vw);
    font-size: max(15px, 1vw);
    padding: max(5px, .5vw) max(8px, .8vw);
    margin: max(5px, .5vw);
    margin-left: 0;
}

.dash-buttons a {
    text-decoration: none;
    color: inherit;
}

.green-button {
    color: #67A98A;
    border-color: #67A98A;
    background-color: rgba(103, 169, 138, 0.1);
}

.red-button {
    color: #DD7965;
    border-color: #DD7965;
    background-color: rgba(221, 121, 101, 0.1);
}

.blue-button {
    color: #3F9AE0;
    border-color: #3F9AE0;
    background-color: rgba(63, 154, 224, 0.1);
}

.user-ads .card-buttons {
    display: flex;
}

section.rate-user {
    margin: max(15px, 2vw) 0;
    max-width: max(800px, 60vw);
}

.rate-user form .d-flex {
    justify-content: space-between;
}

.rate-user .rate-box {
    margin-top: max(15px, 1vw);
}

.rate-user .rate-box h2 {
    font-size: max(20px, 2vw);
    color: #253D4E;
    font-family: 'Quicksand', sans-serif;
}

.rate-user .rate-box p {
    margin-top: max(10px, 1vw);
    font-size: max(15px, 1vw);
    color: gray;
}

.rate-user form .default-button {
    font-weight: bold;
}

section.profile {
    margin: max(20px, 1.5vw) 0;
}

section.profile form {
    background-color: white;
    padding: max(10px, 1vw);
    border-radius: max(10px, 1vw);
}

section.profile .change-img input {
    display: none;
}

section.profile .change-img {
    display: flex;
    align-items: center;
}

section.profile .change-img img{
    width: max(80px, 5.3vw);
    height: max(80px, 5.3vw);
    border-radius: 50%;
    margin: max(10px, 1vw);
    margin-left: 0;
}

section.profile .change-img label, section.profile .change-img span {
    display: inline-block;
    margin: max(10px, 1vw);
    font-size: max(15px, 1vw);
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}

section.profile form .d-flex {
    justify-content: space-between;
}

section.profile form .form-field {
    padding-right: max(1px, 1.5vw);
}

/* DASHBOARD */

@media screen and (max-width: 768px){
    .logo {
        width: 44%;
    }
    .header-menu {
        display: none;
        position: absolute;
        width: 100%;
        padding: 10px 0;
        border-top: 2px solid #FCDB5A;
        border-bottom: 2px solid #FCDB5A;
        background-color: black;
        left: 0;
        top: 80px;
        z-index: 1;
        text-align: center;
    }

    header .HF-style ul { 
        flex-direction: column;
    }
    
    header .HF-style ul li {
        margin: 5px 0;
    }

    .user-options .notifications {
        display: none;
    }

    .header-options .open-menu{
        display: block;
    }

    footer {
        display: flex;
        justify-content: flex-end;
    }

    footer p {
        max-width: max(290px, 40%);
        text-align: right;
        margin: 25px 15px;
    }

    footer p span {
        display: none;
    }

    footer .HF-style {
        display: none;
    }

    .login-screen .data-bg .bg {
        display: none;
    }

    .login-screen .container {
        min-height: 60vh;
    }

    .login-screen .data-bg .data {
        text-align: center;
        width: 100%;
        max-width: max(400px, 80%);
        margin: 0 auto;
    }

    .d-flex .w-25 {
        width: 50%;
    }
    
    .d-flex .w-50 {
        width: 100%;
    }
    
    .d-flex .w-70 {
        width: 100%;
    }

    .home-bg {
        min-height: 50vh;
    }

    .bg-content {
        text-align: center;
    }
    
    .bg-content p {
        margin-top: 20px;
    }

    section.agro {
        display: flex;
        flex-direction: column-reverse;
    }

    .agro .about-us {
        background-image: none;
    }

    .agro .about-us .title-img {
        width: 90%;
        margin: 0 auto;
        background-image: url('../images/agro.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: row-reverse;
        align-items: center;
    }

    .about-us .title-img h2 {
        margin-bottom: 10px;
    }

    .agro .about-us .title-img .text-button {
        text-align: right;
    }

    .about-us .base-img {
        width: 30%;
    }

    .about-us .base-img .base {
        height: 130%;
    }

    .agro .about-us .text {
        margin-top: 50px;
        text-align: center;
        width: 100%;
    }

    .agro .investing-box .box-single {
        width: 100%;
    }

    .how-its-work img{
        display: none;
    }
    .how-its-work .workflow {
        display: block;
    }

    .chose-path .path-box {
        width: 100%;
    }

    .details .product-details {
        width: 100%;
    }

    .product-details .product-wrapper .product-images {
        width: 100%;
    }

    .product-details .product-wrapper .product-info {
        width: 100%;
    }

    .details .auction-details {
        width: 100%;
        max-width: max(400px, 80%);
        margin: 0 auto;
    }

    .auction-details .seller-info .seller-data {
        justify-content: center;
    }

    section.contact {
        align-items: center;
        background-image: none;
    }

    .contact form {
        background-image: url('../images/contact-bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .panel .page-init {
        text-align: center;
    }

    .panel .ads-list h4 {
        text-align: center;
    }

    .contact .form-row .form-field {
        width: 100%;
    }

    .dashboard-buttons ul li {
        width: 100%;
    }

    .dashboard-buttons ul li a {
        width: 100%;
        text-align: center;
    }
    
    .ads-list .item-box {
        flex-direction: column;
        justify-content: center;
        max-width: 350px;
        margin: 0 auto;
    }

    .ads-list .item-box .d-flex {
        flex-direction: column;
        text-align: center;
        margin: 15px 0;
    }
}