@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

header {
    background-color: black;
    padding: max(10px, 1vw);
}

.HF-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max(800px, 90%);
    margin: 0 auto;
    padding: max(10px, 1vw);
}

.logo {
    background-image: url('../images/logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 2vw;
}

.HF-style ul {
    display: flex;
    list-style: none;
}

.HF-style ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: max(15px, 1vw);
    font-weight: lighter;
    padding: 0 max(10px, 1vw);
}

.header-content .enter {
    background-color: #FCDB5A;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: lighter;
    font-size: max(15px, 1vw);
    padding: max(10px, 1vw) max(20px, 2.5vw);
    border-radius: max(15px, 2vw);
}

main{
    min-height: 88vh;
}

footer {
    background-color: #333333;
    padding: max(10px, 1vw);
}

footer p {
    color: white;
    font-size: max(15px, 1vw);
    font-weight: lighter;
    text-align: center;
}

.home-bg {
    min-height: calc(35vw + 5vh);
    padding: max(10px, 1vw);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-content {
    padding: 10px;
    max-width: max(600px, 50%);
    position: relative;
}

.bg-content h1{
    font-size: max(25px, 3.6vw);
    text-transform: uppercase;
}

.bg-content h1 .small {
    font-weight: lighter;
}

.bg-content p {
    font-size: max(15px, 1.1vw);
    margin-bottom: max(20px, 2vw);
    line-height: 1.5;
}

.bg-content .button-wrapper {
    text-align: center;
}

.bg-content a {
    font-size: max(16px, 1.2vw);
    display: inline-block;
    text-decoration: none;
    color: white;
    border: max(2px, .1vw) solid #FCDB5A;
    padding: max(15px, 1.5vw) max(20px, 3vw);
    border-radius: max(20px, 2vw);
}

.lines-wrapper{
    position: relative;
    margin-bottom: 6vw;
}

.vertical-lines {
    position: absolute;
    height: max(50px, 10vw);
    left: 50%;
    top: -6vw;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
}

.vertical-lines .line {
    border-radius: max(10px, 1vw);
    width: max(3px, .3vw);
    height: 70%;
    background-color: #FCDB5A;
    margin: 0 max(2px, .2vw);
}

.vertical-lines .line1 {
    margin-top: max(10px, 1vw);
}

.vertical-lines .line2 {
    height: 100%;
}

.products-offered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-offered .text-content {
    text-align: center;
    padding: 10px;
}

.products-offered .text-content h2 {
    font-size: max(25px, 3vw);
    text-transform: uppercase;
    color: #333333;
    margin-bottom: max(10px, 1vw);
}

.products-offered .text-content h2 span {
    font-weight: lighter;
}

.products-offered .text-content p {
    color: #b3b3b3;
    margin-bottom: max(5px, .5vw);
    font-size: max(16px, 1vw);
}

.products-offered .text-content a {
    color: #b3b3b3;
    font-weight: 600;
}

.products-offered .images-content {
    padding: 10px;
    margin: max(20px, 2vw) 0;
    width: 100%;
    max-width: max(500px, 30%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images-content .product-single {
    text-align: center;
}

.images-content .product-single img {
    width: 100%;
    min-width: 3vw;
}

.images-content .product-single p {
    margin-top: max(10px, 1vw);
    font-size: max(14px, .8vw);
}

.products-offered .select-product {
    margin-bottom: 30px;
    background-color: #333333;
    width: 100%;
    padding: max(10px, 1vw);
}

.products-offered .select-product form {
    width: max(600px, 40%);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.products-offered .select-product form .form-field {
    display: flex;
    flex-direction: column;
    padding: max(10px, 1vw);
    width: 50%;
}

.products-offered .select-product form .form-field label {
    color: white;
    font-size: max(16px, 1vw);
    margin: max(10px, .8vw) 0;
}

.products-offered .select-product form .form-field select {
    width: 100%;
    padding: max(10px, .5vw);
    font-size: max(14px, .8vw);
    border-radius: max(3px, .3vw);
}
