@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

.default-button {
    background-color: #FCDB5A;
}

.default-button, .default-button2 {
    border: max(2px, .1vw) solid #FCDB5A;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: max(12px, 1vw);
    padding: max(10px, 1vw) max(20px, 2vw);
    border-radius: max(15px, 2vw);
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.homepage-titles{
    font-weight: 700;
    font-size: max(25px, 3vw);
    text-transform: uppercase;
    color: #333333;
}

.homepage-titles span {
    font-weight: normal;
}

header {
    background-color: black;
}

.HF-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max(800px, 90%);
    min-height: 80px;
    margin: 0 auto;
    padding: max(10px, 1vw);
}

.logo {
    width: 25%;
}

.HF-style nav ul {
    display: flex;
    list-style: none;
}

.HF-style ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: max(15px, 1vw);
    font-weight: lighter;
    padding: 0 max(5px, .8vw);
}

.header-options {
    display: flex;
    align-items: center;
}

.header-options .user-options {
    display: flex;
    align-items: center;
}

.header-options .user-options i {
    color: white;
}

.user-options .notifications {
    display: flex;
}

.user-options .notification-box {
    margin-right: max(10px, 1.5vw);
    cursor: pointer;
    position: relative;
}

.user-options .notification-box .icon-wrapper{
    position: relative;
    width: max(35px, 2vw);
}

.user-options .notification-box .toggle-items ul {
    min-width: max(260px, 10vw);
}

.user-options .notifications i {
    font-size: max(25px, 1.5vw);
}

.user-options .notifications span {
    position: absolute;
    top: -40%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: max(10px, .6vw);
    background-color: #FCDB5A;
    height: max(24px, 1vw);
    width: max(24px, 1vw);
    border-radius: 50%;
}

.user-options .user-menu .menu-content{
    display: flex;
    align-items: center;
}

.user-menu .menu-content a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: max(11px, .9vw);
}

.user-menu .menu-content img {
    width: max(32px, 1.7vw);
    height: max(32px, 1.7vw);
    border-radius: 50%;
    margin: 0 max(5px, .3vw);
}

.user-menu .menu-content i {
    cursor: pointer;
    font-size: max(20px, 1vw);
}

.toggle-items {
    position: relative;
}

.toggle-items ul {
    padding: max(8px, .8vw);
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    margin-top: max(10px, 1vw);
    width: 100%;
    background-color: white;
    border-radius: 0 max(5px, .5vw) max(5px, .5vw) max(5px, .5vw);
    box-shadow: max(1px, .1vw) max(1px, .1vw) max(10px, .5vw) rgba(0, 0, 0, 0.4);
}

.toggle-items ul li {
    font-size: max(14px, .8vw);
    padding: max(5px, .3vw);
    margin: max(5px, .3vw) 0;
    border-bottom: max(1px, .1vw) solid #ccc;
    cursor: pointer;
}

.user-menu .toggle-items ul li i {
    color: black;
}

.header-options .enter {
    display: none;
}

.header-options .open-menu {
    display: none;
    color: white;
    font-size: max(25px, 1.5vw);
    padding: 0 max(10px, 1vw);
    cursor: pointer;
}

main{
    min-height: 88vh;
}

footer {
    background-color: #333333;
    padding: max(10px, 1vw);
}

footer p {
    color: white;
    font-size: max(15px, 1vw);
    font-weight: lighter;
    text-align: center;
}

.home-bg {
    min-height: calc(35vw + 5vh);
    padding: max(10px, 1vw);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-content {
    padding: 10px;
    max-width: max(600px, 50%);
    position: relative;
}

.bg-content h1{
    font-size: max(25px, 3.6vw);
    text-transform: uppercase;
}

.bg-content h1 .small {
    font-weight: lighter;
}

.bg-content p {
    font-size: max(15px, 1.1vw);
    margin-bottom: max(20px, 2vw);
    line-height: 1.5;
}

.bg-content .button-wrapper {
    text-align: center;
}

.bg-content a {
    font-size: max(16px, 1.2vw);
    display: inline-block;
    text-decoration: none;
    color: white;
    border: max(2px, .1vw) solid #FCDB5A;
    padding: max(15px, 1.5vw) max(20px, 3vw);
    border-radius: max(20px, 2vw);
}

.lines-wrapper{
    position: relative;
    margin-bottom: 6vw;
}

.vertical-lines {
    position: absolute;
    height: max(50px, 10vw);
    left: 50%;
    top: -6vw;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
}

.vertical-lines .line {
    border-radius: max(10px, 1vw);
    width: max(3px, .3vw);
    height: 70%;
    background-color: #FCDB5A;
    margin: 0 max(2px, .2vw);
}

.vertical-lines .line1 {
    margin-top: max(10px, 1vw);
}

.vertical-lines .line2 {
    height: 100%;
}

.products-offered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-offered .text-content {
    text-align: center;
    padding: 10px;
}

.products-offered .text-content h2 {
    margin-bottom: max(10px, 1vw);
}

.products-offered .text-content p {
    color: #b3b3b3;
    margin-bottom: max(5px, .5vw);
    font-size: max(16px, 1vw);
}

.products-offered .text-content a {
    color: #b3b3b3;
    font-weight: 600;
}

.products-offered .images-content {
    padding: 10px 20px;
    margin: max(20px, 2vw) 0;
    width: 100%;
    max-width: max(500px, 30%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images-content .product-single {
    text-align: center;
}

.images-content .product-single img {
    width: 100%;
    min-width: 3vw;
}

.images-content .product-single p {
    margin-top: max(10px, 1vw);
    font-size: max(14px, .8vw);
}

.products-offered .select-product {
    margin-bottom: 30px;
    background-color: #333333;
    width: 100%;
    padding: max(10px, 1vw);
}

.products-offered .select-product form {
    max-width: max(600px, 40%);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.products-offered .select-product form .form-field {
    display: flex;
    flex-direction: column;
    padding: max(10px, 1vw);
    width: 50%;
}

.products-offered .select-product form .form-field label {
    color: white;
    font-size: max(16px, 1vw);
    margin: max(10px, .8vw) 0;
}

.products-offered .select-product form .form-field select {
    width: 100%;
    padding: max(10px, .5vw);
    font-size: max(14px, .8vw);
    border-radius: max(3px, .3vw);
}

section.agro {
    padding: 0 max(10px, 2%);
}

.agro .about-us {
    margin: max(20px, 2vw) 0;
    background-image: url('../images/agro.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.agro .about-us .title-img {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.about-us .title-img h2 {
    margin-bottom: max(20px, 4vw);
}

.about-us .base-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max(100px, 20vw);
    width: 25%;
}

.about-us .base-img .base {
    background-color: white;
    border: max(5px, .4vw) solid #FCDB5A;
    width: 80%;
    height: 100%;
    position: absolute;
}

.about-us .base-img img {
    position: relative;
    width: 100%;
}

.agro .about-us .text {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.agro .about-us .text p {
    font-size: max(14px, 1vw);
    line-height: 1.8;
}

.agro .prices-box {
    max-width: max(600px, 55%);
    margin: 0 auto;
}

.agro .prices-box h2 {
    text-align: center;
    margin: max(10px, 1vw) 0;
}

.agro .prices-box .investing-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.agro .investing-box .box-single {
    width: 48%;
    margin: max(10px, 1vw) 0;
}

.agro .investing-box .box-single img{
    width: 100%;
}

.agro .prices-box a {
    margin: max(10px, 1vw) 0;
}
.agro .disclosure-box {
    margin: max(10px, 1vw) 0;
}
.agro .disclosure-img {
    max-width: max(600px, 40vw);
    margin: max(15px, 1.5vw) auto;
}

.agro .disclosure-box img {
    width: 100%;
}

section.how-its-work {
    margin: max(20px, 3vw) 0;
    padding: max(30px, 3%);
    background-color: #FCDB5A;
}

.how-its-work h2 {
    text-align: center;
    margin-bottom: max(20px, 2vw);
}

.how-its-work img {
    width: 100%;
}

.how-its-work .workflow {
    display: none;
    position: relative;
    text-align: center;
    max-width: max(600px, 50%);
    margin: 0 auto;
}

.how-its-work .workflow .work-box {
    padding: 0 10%;
}

.how-its-work .workflow span {
    font-size: max(14px, .8vw);
    background-color: white;
    height: max(32px, .4vw);
    width: max(32px, .4vw);
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-its-work .workflow p {
    font-size: max(14px, .8vw);
    font-weight: 600;
    line-height: 1.5;
}

.workflow .arrows{
    position: absolute;
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: space-between;
}

.workflow .arrows i{
    color: white;
    cursor: pointer;
    font-size: max(20px, 1.5vw);
}

section.come-with-us {
    padding: 0 10px;
    margin-bottom: max(20px, 4vw);
    text-align: center;
}

section.come-with-us p {
    margin-top: max(10px, 1vw);
    color: gray;
    font-size: max(15px, 1vw);
}

.come-with-us .chose-path {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.chose-path .path-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: max(20px, 2vw);
}

.chose-path .path-box img {
    width: max(80px, 5vw);
    margin-bottom: max(15px, 1vw);
}

@media screen and (max-width: 768px){
    .logo {
        width: 44%;
    }
    .header-menu {
        display: none;
        position: absolute;
        width: 100%;
        padding: 10px 0;
        border-top: 2px solid #FCDB5A;
        border-bottom: 2px solid #FCDB5A;
        background-color: black;
        left: 0;
        top: 80px;
        z-index: 1;
        text-align: center;
    }

    header .HF-style ul { 
        flex-direction: column;
    }
    
    header .HF-style ul li {
        margin: 5px 0;
    }

    .user-options .notifications {
        display: none;
    }

    .header-options .open-menu{
        display: block;
    }

    footer {
        display: flex;
        justify-content: flex-end;
    }

    footer p {
        max-width: max(290px, 40%);
        text-align: right;
        margin: 25px 15px;
    }

    footer p span {
        display: none;
    }

    footer .HF-style {
        display: none;
    }

    .home-bg {
        min-height: 50vh;
    }

    .bg-content {
        text-align: center;
    }
    
    .bg-content p {
        margin-top: 20px;
    }

    section.agro {
        display: flex;
        flex-direction: column-reverse;
    }

    .agro .about-us {
        background-image: none;
    }

    .agro .about-us .title-img {
        width: 90%;
        margin: 0 auto;
        background-image: url('../images/agro.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: row-reverse;
        align-items: center;
    }

    .about-us .title-img h2 {
        margin-bottom: 10px;
    }

    .agro .about-us .title-img .text-button {
        text-align: right;
    }

    .about-us .base-img {
        width: 30%;
    }

    .about-us .base-img .base {
        height: 130%;
    }

    .agro .about-us .text {
        margin-top: 50px;
        text-align: center;
        width: 100%;
    }

    .agro .investing-box .box-single {
        width: 100%;
    }

    .how-its-work img{
        display: none;
    }
    .how-its-work .workflow {
        display: block;
    }

    .chose-path .path-box {
        width: 100%;
    }
}